.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 12px 40px;
	display: inline-block;
	margin: 3px 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-raised-red {
	background: #cb4e4e;
	color: #fff;
	border-radius: 5px;
	box-shadow: 0 6px #ab3c3c;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

.btn-raised-red:hover {
	box-shadow: 0 4px #ab3c3c;
	top: 2px;
}

.btn-raised-red:active {
	box-shadow: 0 0 #ab3c3c;
	top: 6px;
}

.btn-raised-blue {
	background: #226fbe;
	color: #fff;
	border-radius: 5px;
	box-shadow: 0 6px #2262be;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

.btn-raised-blue:hover {
	box-shadow: 0 4px #2262be;
	top: 2px;
}

.btn-raised-blue:active {
	box-shadow: 0 0 #2262be;
	top: 6px;
}

.btn-raised-green {
	background: #17aa56;
	color: #fff;
	border-radius: 5px;
	box-shadow: 0 6px #119e4d;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

.btn-raised-green:hover {
	box-shadow: 0 4px #119e4d;
	top: 2px;
}

.btn-raised-green:active {
	box-shadow: 0 0 #119e4d;
	top: 6px;
}
