.settings-container {
  position: fixed;
  bottom: 15px;
  right: 15px;
}

.settings-panel {
  width: 290px;
  border-radius: 5px;
  background: #fff;
  color: #333;
  padding: 10px 15px 10px 15px;

}

.settings-panel-close {
  text-align: right;
  margin-bottom: 10px;
  color: darken(#ddd, 25%);

  span {
    cursor: pointer;
  }
}

.range-input {
  outline: none;
}
